<!-- Header -->
<header class="header sticky-header">
	
	<!-- Header Holder -->
	<div class="header-holder">
		
		<div class="logo-burger-holder">
			<!-- Logo -->
			<div class="logo">
				<a href="index.html">
					<span class="icon-logo"></span>
				</a>
			</div>
			<!-- END Logo -->

			<!-- Burger Menu -->
			<div class="burger-menu">
			  <div class="line-1"></div>
			  <div class="line-2"></div>
			  <div class="line-3"></div>
			</div>
			<!-- END Burger Menu -->
		</div>

		<!-- Navigation Section -->
		<div class="navigation-section">

			<div class="navigation-section-hold">

			<!-- Navigation -->
			<ul class="navigation">
				<li>
					<a href="multi-content-page.html">About Us</a>
				</li>
				<li class="with-drop-nav">
					<a>Resources</a>
					<ul class="navigation-inside">
						<li>
							<a href="publication-item-page.html">Disease information</a>
						</li>
						<li>
							<a href="#">Immediate side effects of therapy</a>
						</li>
						<li>
							<a href="#">Late effects of therapy</a>
						</li>
					</ul>
				</li>
				<li class="with-drop-nav">
					<a href="#">New Patients</a>
					<ul class="navigation-inside">
						<li>
							<a href="publication-item-page.html">Test</a>
						</li>
						<li>
							<a href="#">Test</a>
						</li>
						<li>
							<a href="#">Late effects of therapy</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">For GPs</a>
				</li>
				<li>
					<a href="contacts-page.html">Contact</a>
				</li>
			</ul>
			<!-- END Navigation -->

			<!-- Header Contacts -->
			<ul class="header-contacts">
				<li>
					<a href="#">
						<span class="icon-twitter"></span>
					</a>
				</li>
				<li>
					<a href="tel:0387654321">(03) 8765 4321</a>
				</li>
			</ul>
			<!-- END Header Contacts -->

			</div>

		</div>
		<!-- END Navigation Section -->

	</div>
	<!-- END Header Holder -->

	<div class="header-substrate-bottom"></div>

</header>
<!-- END Header -->