/* Header */
.header {
	.clearfix;

	@media @tablet {
		padding: 41px 0 10px;
	}
}

.header-holder {
	max-width: 1210px;
	margin: 0 auto;
	padding: 0 20px;
}

.logo-burger-holder {
	.clearfix;
	padding: 40px 0 0;
	margin: -40px 0 0;
}

/* Logo */
.logo {
	display: block;
	margin: 0 0 30px;

	@media @tablet {
		display: none;
		float: left;
		margin: 0;
	}
	
	a {
		display: block;
	}

	.icon-logo {
		font-size: 36px;
		line-height: 1;

		@media @tablet {
			font-size: 30px;
		}
	}
}

.logo-mobile {
	display: none;

	@media @tablet {
		display: block;
	}
}